.roomBtnWrapper {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roomBtn {
  min-height: 200px;
  min-height: 40px;
  border: none;
  background-color: var(--pink-active);
  color: cat(--text-primary);
  margin: 5px 10px;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.currentRoomName {
  font-size: 20px;
  padding: 30px 0;
  color: var(--desable-text-color);
}
