.form {
  margin: 10px;
}

.inputWrapper {
  width: 100%;
}

.inputWrapper input {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  height: 40px;
  font-size: 15px;
}

.inputWrapper p {
  color: var(--desable-text-color);
}

.submitBtn {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--pink-active);
  border: 10px;
  height: 40px;
  margin-top: 30px;
  border-radius: 5px;
}

.disabledBtn {
  opacity: 0.5;
  cursor: not-allowed;
}
